*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 100px;
    grid-template-areas: 
    "he he he he"
    "se1_1 se1_1 se1_2 se1_2"
    "se1_3 se1_3 se se"
    "fo fo fo fo";
}
header{
    grid-area: he;
    background-color: #B6E388 ;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    height: 80px;
    margin: 20px;
}

a {
    font-family: Lato, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    margin: 20px;
}

.navbar ul li{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
}

a:hover {
    background-color: #E1FFB1;
}


#navbar2{
    display: flex;
    flex-direction: column;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -90vh;
    margin-top: 15px;
    right: 0px;
    width: 200px;
    align-items: center;
    background-color: #B6E388;
    align-items: center;
    justify-content: center;

}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;

}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: #B6E388;
    font-family: sans-serif;
}


#line_2 {
    opacity: 0;
}

#line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.nav-active {
    transform: translateY(100vh);
}

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #B6E388;

.navbar ul li a{
    list-style: none;
    text-decoration: none;
    color: #000;   
    margin: 20px;
}

#subscribe_btn{
    border-radius: 80px;
    height: 70px;
    font-weight: 30px;
    margin: none;
}

b{
    color: green;
    font-weight: 2000;
}

h1{
    font-weight: 10px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 23px;
}

#introduction_page1{
    background-color: rgba(74, 169, 70, 0.637);
    width: 600px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: se1_1;
    height: 500px;
}

#page1{
    display: flex;
    flex-direction: row;
}

#intro_btn1{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

button{
    border-radius: 80px;
    height: 50px;
    width: 200px;
    margin: 10px;
}

#colored_btn{
    background-color: #B6E388;
    color: #fff;
}

#se2_2{
    grid-template-areas: se1_2;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 660px;

}

.dish_btn{
    width: 70px;
    height: 25px;
    font-size: x-small;
}

.intro_reviews{
    margin-top: 50px;
    margin: 10px;
    width: 190px;
    border: solid black;
    background-color: #fff;
    padding: 2px;
    height: 280px;
}

#slideshow_intro{
    display: flex;
    align-items: center;
    margin-top: 55px;
}


#prev_next_btn{
    height: 50px;
    width: 450px;
    display: flex;
    flex-direction: row;
    font-size: x-small;
 
}

.stars_and_reviews{
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
}

#prevBtn{
    height: 50px;
    width: 30px;
    background-color: #B6E388;
}


#page2{
    display: flex;
    flex-direction: column;
    height: 5000px;
   
}
#se3_1{
    grid-template-areas: se1_3;
    
}

#grid_wrapper2{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 100px;
    grid-template-areas: 
    "he he he he"
    "se2_1 se2_1 se2_1 se2_1"
    "se2_2 se2_2 se2_2 se2_2"
    "fo fo fo fo";
}

#page1_order{
    background-image: url('../img/order/delivery_pic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    background-position:center;
    grid-template-areas: se2_1;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    padding-top: 40px;
}

#order_frontpage{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}

#delivery_bar{
    border: solid black;
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    margin: 10px;
    align-content: space-between;
}

#enter_delivery{
    display: flex;
}

.green_btn{
    background-color: #E1FFB1;
    border-radius: 30px;
    width: auto;
    padding: 15px;
    
}

#page2_order{
    display: flex;
    flex-direction: row;
}

#title_page2_order{
    font-size: 30px;
}

#textarea_page2_order{
    background-color: #E1FFB1;
    width: 60%;
    margin: 50px;
    display: column;
    grid-template-areas: se2_2;
}

#rubrik_medunderrubrik_page2_order{
    margin-bottom: 25px;
}

.info_bar{
    padding: 15px;
    background-color: #E1FFB1;
    width: 50%;
}

.info_bars{
    display: flex;
}

#page2_order_pic{
    width: 45%;
    margin-top: 50px;
    height: 450px;
}

#page3_order{
    background-image: url('../img/order/page3_order.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    grid-template-areas: se2_3;
}

#package_info{
    background-color: #fff;
    border: solid black;
    width: 45%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 540px;
    padding-top: 40px;
    list-style: none;
}

#list_order{
    width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#prize_for_members_page3{
    text-align: center;
    padding-top: 10px;

}

#title_starting_at{
    border-bottom: solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#prize_container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#page2_home_text{
    width: 600px;
    margin-left: 150px;
    margin-top: 80px;
    background-color: #B6E388;
}

#page2_home_text p {
    font-size: larger;
}


#page2_home_text h3 {
    padding: 10px;
}

#page2{
    display: flex;
    flex-direction: row;
    grid-template-areas: sec2_2;
}

.step{
    border-radius: 50px;
    padding: 30px;
    background-color: blue;
    height: 800px;
    align-content: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 340px;
}

#stair_img_home{
    background-color: red;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

#reviews_page1{
    background-image: url('../img/reviews/reviews_page1.jpg');
    align-items: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    flex-wrap: wrap;
}

#title_page1_reviews{
    text-align: center;
    font-size: 40px;
    width: 500px;
    
}

#title_page1_reviews h2{
    font-size: 80px;
    color: #fff;
}

.dishes2{
    background-color: #B6E388;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#reviews_page2{
    background-color:#B6E388;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.standout_h2{
    color: #fff;
    text-decoration: underline; 
    margin-left: 10px;
    margin-right: 10px;
}

#popular_dishes{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.wrap_title{
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wrap_title h2{
    font-size: 50px;
    text-decoration:;

}


#grid_wrapper3{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 100px;
    grid-template-areas: 
    "he he he he"
    "se1_1 se1_1 se1_2 se1_2"
    "se1_3 se1_3 se se"
    "fo fo fo fo";
}

