*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Everything */
body {
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    grid-area: he;
    background-color: #B6E388 ;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
}

a {
  position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar ul li{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
}

#link_list a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: na;
}

#link_list {
    background-color: #B6E388;
    height: 350px;
    width: 200px;
    position: absolute;
    top: -430px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.link_list_visible {
    transform: translateY(500px)
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_in_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

b{
    color: green;
    font-weight: 1000;
}

/* #HOME */
#grid_wrapper{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 500px 100px;
    grid-template-areas: 
    "he he he he"
    "se1_1 se1_1 se1_1 se1_1"
    "se1_2 se1_2 se1_2 se1_2"
    "se1_3 se1_3 se1_3 se1_3"
    "fo fo fo fo";
}
#page1{
    grid-area: se1_1;
}
#introduction_page1{
    padding: 40px;
    display: flex;
    flex-direction: column;
    grid-area: se1_1;
    height: 320px;
}

#introduction_page1 h2{
    margin-bottom: 20px;
}
#introduction_page1 p{
    color: grey;
}

#introduction_page1 button{
    height: 50px;
}

#page1{
    display: flex;
    flex-direction: column;
}

#intro_btn1{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

button{
    margin: 10px;
    padding: 5px;
    border: white;
}

#colored_btn{
    background-color: #B6E388;
    color: white;
    border: white;
}

#se2_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.dish_btn{
    width: 70px;
    height: 25px;
    font-size: x-small;
}

.intro_reviews{
    width: 188px;
    border: solid black;
    background-color: #fff;
    padding: 2px;
    height: 280px;
    margin: 3px;
    position: relative;
}

#slideshow_intro{
    display: flex;
    align-items: center;
    overflow: scroll;
    width: 390px;
    padding: 20px;
}

#prev_next_btn{
    display: flex;
    font-size: x-small;
}

.stars_and_reviews{
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
    position: absolute;
    bottom: 0;
}

.stars_and_reviews p {
    font-size: 13px;
    margin-left: 5px;
}

#page2_1{
    grid-area: se1_3 ;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    background: linear-gradient(
      to top,
      white 50%,
      #B6E388 50%,
      #E1FFB1 100%
    );
}

#page2_2{
    margin-top: -40px;
    padding: 40px;   
    grid-area: se1_4;
}

#page2_2 h2{
    text-decoration-line: underline;
    margin-bottom: 20px;
}

.join-team {
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-area: se1_3;
}

.join-team h2 {
    color: #0e9b72;
}

.join-team p {
    color: #555;
    margin-bottom: 20px;
}

.join-team a {
    display: inline-block;
    background-color: #0e9b72;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.join-team a:hover {
    background-color: #0c7f5c;
}

/* ORDER */
#grid_wrapper2{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 500px 100px;
    grid-template-areas: 
    "he he he he"
    "se2_1 se2_1 se2_1 se2_1"
    "se2_2 se2_2 se2_2 se2_2"
    "se2_3 se2_3 se2_3 se2_3"
    "fo fo fo fo";
}
#page1_order{
    background-image: url('../img/order/delivery_pic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    grid-area: se2_1;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    grid-area: se2_1;
}

#page1_order h2{
    font-size: 25px;
}

#order_frontpage{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#delivery_bar{
    border: solid black;
    display: flex;
    flex-direction: row;
    width: 350px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    align-content: space-between;
}

#delivery_bar img{
    margin-right: 10px;
}

#enter_delivery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green_btn{
    background-color: #E1FFB1;
    border-radius: 30px;
    width: auto;
    padding: 15px;
}

#page2_order{
    display: flex;
    flex-direction: column-reverse;
    grid-area: se2_2;
}

#title_page2_order{
    font-size: 30px;
}

#textarea_page2_order{
    background-color: #E1FFB1;
    align-items: center;
    justify-items: center;
    padding: 15px;
    grid-area: se2_2;
}

#rubrik_medunderrubrik_page2_order{
    margin-bottom: 10px;
}

.info_bar{
    padding-top: 5px;
}

.info_bars{
    display: flex;
    flex-direction: column;
}

#page2_order_pic{
    background-image: url('../img/order/page2_order.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

#page3_order{
    background-image: url('../img/order/page3_order.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-area: se2_3;
    padding: 40px;
}

#package_info{
    background-color: #fff;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#list_order{
    width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#prize_for_members_page3{
    text-align: center;
    padding-top: 10px;
}

#title_starting_at{
    border-bottom: solid black;
    display: flex;
    justify-content: center;
}

#prize_container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


/* REVIEWS */
#grid_wrapper4{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 500px 100px;

    grid-template-areas: 
    "he he he he"
    "se4_1 se4_1 se4_1 se4_1"
    "se4_2 se4_2 se4_2 se4_2"
    "se4_3 se4_3 se4_3 se4_3"
    "fo fo fo fo";
}
#reviews_page1{
    background-image: url('../img/reviews/reviews_page1.jpg');
    align-items: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    height: 87vh;
    padding: 5px;
    grid-area: se4_1;
}

#title_page1_reviews{
    font-size: 40px;
    width: 500px;
}

#title_page1_reviews p{
    font-size: 30px;
    color: #fff;
}

#title_page1_reviews h2{
    font-size: 60px;
    color: #fff;
    text-decoration: underline;
}

#reviews_page2{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: se4_2;
}

.standout_h2{
    color: #B6E388;
    text-decoration: underline; 
    margin-left: 10px;
    margin-right: 10px;
}

#popular_dishes{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrap_title{
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wrap_title h2{
    font-size: 50px;
}

#reviews_page3{
    margin: 40px;
    grid-area: se4_3;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  margin: 20px;
}

.review-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.review-author {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.review-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.review-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  width: 90px;
  border-radius: 4px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.stars {
  font-size: 20px;
  color: #ffd700;
}

/* ABOUT US */
#grid_wrapper3{
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 500px 500px 500px 100px;
    grid-template-areas: 
    "he he he he"
    "se3_1 se3_1 se3_1 se3_1"
    "se3_2 se3_2 se3_2 se3_2"
    "se3_3 se3_3 se3_3 se3_3"
    "fo fo fo fo";
}
#aboutus_page1{
    background-image: url('../img/about_us/aboutus_page1.jpg');
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    height: 87vh;
    grid-area: se3_1;
}

#title_page1_aboutus h2{
    background-color: #0c7f5c;
    color: white;
    margin: 30px;
    padding: 30px;
}

#aboutus_page1 h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

li {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

#ourteam{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 2px;
}

#ourteam button{
    background-color: #B6E388;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
}

#page3_aboutus{
    grid-area: se3_3;
}

#ourteam button:hover {opacity: 0.6;}

.team-members {
  justify-items: center;
}
.team-member {
  text-align: center;
  width: 185px;
  align-items: center;
  flex-direction: column;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member-content {
  display: flex;
  flex-direction: column;
}

.team-member h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.team-member p {
  font-size: 16px;
  color: #555;
}

/*FOOTER*/
footer {
  background-color: #212121;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  grid-area: fo;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.footer-section {
  flex: 1 1 200px;
  max-width: 300px;
}

.footer-heading {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-contact p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-opening-hours {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.footer-opening-hours li {
  margin-bottom: 5px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 12px;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  font-size: 20px;
}

#page3_aboutus h2{
    margin-left: 40px;
    margin-top: 10px;
}
#aboutus_info {
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-area: se3_2;
}

.team-member img {
  border-color: #0e9b72;
}

.team-member h3 {
  color: #333;
}
h2 {
  color: #0e9b72;
}

ul {
  color: #555;
}

@media screen and (min-width: 768px) {

 h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  ul {
    font-size: 18px;
  }

#burger {
    display: none;
}
#link_list {
    height: 80px;
    width: 80%;
    top: 0px;
    flex-direction: row;
    transition: none;
}

.link_list_visible {
    transform: translateY(0px)
}

/* HOME */
#page1{
    flex-direction: row;
    height: 350px;
    align-items: center;
    height: 80vh;
}

#introduction_page1{
    width: 45%;
    margin-left: 90px;
}

#slideshow_intro{
    display: flex;
    align-items: center;
    width: 700px;
}

#page2_1{
    grid-area: se1_3 ;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
}


#page2_home{
    display: flex;
    background: linear-gradient(
        to top,
        white 50%,
        #B6E388 50%,
        #E1FFB1 100%
      );
      align-items: center;
      grid-area: se1_2;

}

#page2_home_text{
    margin-top: 150px;
}

#page2_1{
    grid-area: se1_3 ;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    background: linear-gradient(
      to top,
      white 50%,
      #B6E388 50%,
      #E1FFB1 100%
    );
}

#page2_2{
    margin-top: -40px;
    padding: 40px;   
    grid-area: se1_4;
}

#page2_2 h2{
    text-decoration-line: underline;
    margin-bottom: 20px;
}

#page2_2 p {
    color: grey;
}

.join-team {
    padding: 60px;
}

  /* REVIEW */
  .review {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .review-content img {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .review-rating {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    min-width: 80px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

/* ORDER */

#page1_order{
    height: 85vh;
    grid-area: se2_1;
}

#page2_order_pic{
    height: 100vh;
    display: flex;
    width: 45%;
    height: auto;
}

#textarea_page2_order{
    width: 55%;
    grid-area: se2_2;

}

.info_bar{
    padding: 15px;
    width: 50%;
}

.info_bars{
    display: flex;
    flex-direction: row;
}

#page2_order{
    display: flex;
    flex-direction: row;
    padding: 40px;
}

#page3_order{
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    grid-area: se2_3;
}

#package_info{
    background-color: #fff;
    border: solid black;
    width: 45%; 
    padding: 40px; 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 540px;
    margin-top: 0;
    list-style: none;
}

#list_order{
    width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ABOUT US */


  .team-member img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }

  .team-member h3 {
    font-size: 24px;
  }

  .team-member p {
    font-size: 18px;
  }

  #ourteam{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 40px;
}

  #ourteam button{
    background-color: #B6E388;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
  }
  

.team-member {
  text-align: center;
  width: 250px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
#aboutus_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

  .aboutus_infobar{
    width: 25%;
    margin: 50px;
    text-align: center;
  }

  
    /* FOOTER */
  .footercontainer {
    justify-content: space-between;
  }

  .footer-section {
    flex-basis: 30%;
    max-width: none;
  }

  .footer-bottom {
    justify-content: space-between;

  }

  .footer-bottom p {
    font-size: 14px;
    
  }

}